@use "sass:color";
@import "/src/styles/variables";

.field {
  display: flex;
}

.label {
  margin-bottom: $spacing-1;
}

.input {
  border: none;
  resize: none;

  background-color: $grey-1;
  border-radius: $border-radius;

  padding: $spacing-2;
  font-family: $font-body;
}

.top {
  flex-direction: column;
}

.right {
  flex-direction: row-reverse;
}

.bottom {
  flex-direction: column-reverse;
}

.left {
  flex-direction: row;
}
